{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
<header>
    <h2 class="text-center mb-5 display-4 text-primary fw-bold text-shadow">{{ 'title.worker_form'|trans }}</h2>
</header>
<hr>
<div class="row">
    <section class="mb-5">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </section>
</div>
{% endblock %}
