{% extends 'base.html.twig' %}

{% block title %}{{ 'entity.user.email_sent'|trans }}{% endblock %}

{% block body %}
<p>{{ 'entity.user.message_after_sending'|trans({'%expiry%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}</p>
<p>{{ 'entity.user.check_spam'|trans({'%path%': path('app_forgot_password_request')})|raw }}</p>
{% endblock %}
