{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <script type="text/javascript">
        function reloadContent() {
            fetch('{{ path('admin_notifications') }}').then(function(response) {
                return response.text();
            }).then(function(data) {
                document.querySelector('#js-notifications').innerHTML = data;
            }).catch(function(err) {
                console.log('Fetch Error :-S', err);
            });
        }

        setInterval(function(){
            document.querySelector('#js-notifications').innerHTML =
                '<div class="alert alert-info">{{ 'main.loading'|trans }}</div>';
            reloadContent()
        }, 15000);
    </script>

    {% if carsInQueue > 0 %}
        <div class="alert alert-warning mb-3">
            {{ 'import.car.count_in_queue'|trans({'%carsInQueue%': carsInQueue}) }}
        </div>
    {% endif %}
    {% if filesInQueue > 0 %}
        <div class="alert alert-warning mb-3">
            {{ 'import.file.count_in_queue'|trans({'%filesInQueue%': filesInQueue}) }}
        </div>
    {% endif %}
    <div id="js-notifications">
        {% include 'admin/_notification.html.twig' %}
    </div>
{% endblock %}