{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Delete{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <section class="mb-5">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </section>
        </div>
    </div>
<script type="text/javascript">
    function confirmDelete() {
        return confirm("{{ 'delete.control'|trans}}");
    }
</script>
{% endblock %}
