{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Import{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <section class="mb-5">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </section>
        </div>
    </div>
{% endblock %}
